<div class="EditorTool">
    <div class="editorControls dn">
        <app-editor-tool-bold *ngIf="toolsConfiguration.isBold"></app-editor-tool-bold>
        <app-editor-tool-italic *ngIf="toolsConfiguration.isItalic"></app-editor-tool-italic>
        <app-editor-tool-underline *ngIf="toolsConfiguration.isUnderline"></app-editor-tool-underline>
        <app-editor-tool-bullet *ngIf="toolsConfiguration.isBullet"></app-editor-tool-bullet>        
        <app-editor-tool-undo [changedContent]="changedContent" *ngIf="toolsConfiguration.isUndo"></app-editor-tool-undo>
        <app-editor-tool-redo [changedContent]="changedContent" *ngIf="toolsConfiguration.isRedo"></app-editor-tool-redo>  
    </div>
    <div class="editableContent" (focusout)="focusOutFunction()" [(innerHTML)]="editorContent">
        <!-- {{editorContent}} -->
        <!-- <ng-content>            
        </ng-content> -->
    </div>    
</div>